<div class="content">
  <div class="container">


      <h3><%= @contest.name %></h3>
      <div id="notice">
      </div>

      <div class="description">
        <%= render :partial => 'spree/shared/participation_form', :locals =>{contest: @contest} %>
      </div>
    <div style="display:none" id="subscribe">
    </div>
  </div>
</div>
