<div style="display: block;" class="step_3">

  <div class="xlightgreen">

    <h3>Merci d'avoir participé!</h3>
    <span>Vous avez <%= participation.subscribed ? "2" : "1" %> chances de gagner</span>
    <div class="footer-socials">
      <ul class="socials-menu clear">
        <li><a href="https://www.facebook.com/modechoc" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.pinterest.com/modechoc/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="http://instagram.com/modechoc" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>

    <span id="share" data-href="<%= request.original_url %>" class="link">Partager</span>

    <a title="COntinuer à magasiner" href="<% root_path %>" class="link red">Continuez sur <strong>modechoc.ca</strong></a>

  </div>

  <a title="Consulter le blogue" href="http://blogue.modechoc.ca" target="_blank" class="link">Consulter le <strong>blogue</strong></a>


</div>