<div class="container">
  <div class="content_box">

    <section class="section">

      <div class="content_section">
        <%= button_link_to "s'incrire a l'infolettre pour un vote de plus", subscribe_path(participation.id) %>

      </div>
    </section>
  </div>
</div>
